<!DOCTYPE html>
<html>
  <head>
    <title>TodoPart2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <% if current_user %>
        <%= current_user.username %>
        <%= button_to 'Log Out', session_url(current_user), method: :delete %>
      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
